<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= t "labels.signup" %></h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "shared/errors", object: resource %>

        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control"%><br>

        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %><br>

        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %><br>

        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>

        <br><%= f.submit t("labels.signup"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
