<tr>
  <td><%= exam.created_at %></td>
  <td><%= exam.category.name %></td>
  <td><%= exam.status %></td>
  <td><%= exam.test_time %></td>
  <td><%= exam.result %></td>
  <td><%= link_to t("buttons.start"), "" %></td>
</tr>
